{% extends 'herencia_HTML/base.html' %}

{% block title %} Inico {% endblock %}

{% block titulo %} Bienvenido {% endblock %}

{% block contenido %} 
<p>¡Bienvenido! Aca encontrarás información valiosa en seis pestañas distintas: "Agregar Personas", "Buscar Persona por nombre", "Agregar Vehiculos", "Buscar por Marca" "Agregar Mascotas"y "Buscar Marcota". Puedes acceder a cada una de ellas tocando los botones correspondientes.</p>
<p>En cada pestaña, podrás visualizar realizar diferentes acciones, ya sea agregar informacion a la base de datos o buscar dentro todo depende de la opcion que eligas.</p>
<p>Gracias por visitarnos!</p>
<br>
{% endblock %}